[Unit]
Description=YENMA milter for mail sender authentication
Documentation=https://github.com/iij/yenma
Requires=yenma-control.socket yenma-milter.socket
After=nss-lookup.target yenma-control.socket yenma-milter.socket

[Service]
Type=notify
User=_yenma
RuntimeDirectory=yenma
RuntimeDirectoryPreserve=yes
ExecStart=/usr/sbin/yenma -c /etc/yenma.conf
ExecReload=/usr/sbin/yenma-control reload
ExecStop=/usr/sbin/yenma-control graceful-shutdown

[Install]
WantedBy=multi-user.target
