[Unit]
Description=YENMA milter for mail sender authentication
Documentation=https://github.com/iij/yenma
After=nss-lookup.target

[Service]
Type=notify
User=_yenma
RuntimeDirectory=yenma
RuntimeDirectoryPreserve=yes
ExecStart=/usr/sbin/yenma -c /etc/yenma.conf

[Install]
WantedBy=multi-user.target
