[Unit]
Description=Milter socket for YENMA

[Socket]
SocketUser=_yenma
SocketGroup=_yenma
SocketMode=0660
ListenStream=/run/yenma/yenma.sock

Service=yenma.service
FileDescriptorName=milter

[Install]
WantedBy=sockets.target
